<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delbel.heritage.presentation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="${googleMapKey}" />

    </application>

</manifest>
